<h1>add new Item</h1> 
<%=form_for @product  ,url: {action: 'create'}  do |f|%>  
    <%=f.label :name%>
    <br>
    <%=f.text_field :name%>
    <br>
    <%=f.label :img%>
    <br>
    <%=f.text_field :img%>
    <br>
    <%=f.label :price%>
    <br>
    <%=f.text_field :price%>
    <br>
    
    <%=f.label :amounte%>
    <br>
    <%=f.number_field :amount%>
    <br>
    <%=f.label :description%>
    <br>
    <%=f.text_area :description%>
    <br>
   
    <%=f.submit  'flag it!!!'%>
    <%end%>
    